IntelligentWaterMonitoring.json
[{"id":"5d37015f.69ded","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"5e5589ca.c20c88","type":"ibmiot in","z":"5d37015f.69ded","authentication":"apiKey","apiKey":"93570dfa.175df","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"10001","applicationId":"","deviceType":"NewnodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":287,"wires":[["5f3c2e25.ac605","a47e2e5a.6649b","3d226f6d.e3cfe"]]},{"id":"5f3c2e25.ac605","type":"debug","z":"5d37015f.69ded","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":187,"wires":[]},{"id":"a47e2e5a.6649b","type":"ui_gauge","z":"5d37015f.69ded","name":"","group":"356ddb73.746da4","order":5,"width":0,"height":0,"gtype":"wave","title":"House 102","label":" Litre","format":"{{msg.payload.watervalue}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":247,"wires":[]},{"id":"ba351248.ec663","type":"ui_gauge","z":"5d37015f.69ded","name":"","group":"356ddb73.746da4","order":6,"width":0,"height":0,"gtype":"wave","title":"House 202","label":" Litre","format":"{{msg.payload.watervalue}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":447,"wires":[]},{"id":"bc985b24.fa2d58","type":"ibmiot in","z":"5d37015f.69ded","authentication":"apiKey","apiKey":"93570dfa.175df","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"10002","applicationId":"","deviceType":"NewnodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":427,"wires":[["ba351248.ec663","5f3c2e25.ac605","d9bda902.9f10b8"]]},{"id":"3d226f6d.e3cfe","type":"cloudant out","z":"5d37015f.69ded","name":"","cloudant":"","database":"waterdb","service":"node-red-owrts-2020--cloudant-1602144223001-50868","payonly":true,"operation":"insert","x":560,"y":307,"wires":[]},{"id":"b2eb6222.60b0a","type":"cloudant in","z":"5d37015f.69ded","name":"","cloudant":"","database":"waterdb","service":"node-red-owrts-2020--cloudant-1602144223001-50868","search":"_all_","design":"","index":"","x":400,"y":667,"wires":[["122a20ef.128c0f","cf335f21.9c33c"]]},{"id":"122a20ef.128c0f","type":"debug","z":"5d37015f.69ded","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":527,"wires":[]},{"id":"cf335f21.9c33c","type":"function","z":"5d37015f.69ded","name":"","func":"valuelen = msg.payload.length;\n//if (HouseID == 102)\n//{\n\nflow1 = 0;\nfor(i=0;i<valuelen;i++)\n{\n    flow1=msg.payload[i].watervalue+flow1;\n}\n\nbill=flow1 * 2;\nmsg.payload =bill;\n//}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":707,"wires":[["122a20ef.128c0f","187aa4d6.a4f4bb"]]},{"id":"e29b04d3.d08808","type":"ui_form","z":"5d37015f.69ded","name":"","label":"","group":"5695b401.2a4b5c","order":7,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Houseno","value":"houseno","type":"number","required":true,"rows":null}],"formValue":{"name":"","houseno":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":527,"wires":[["18793377.b06f5d"]]},{"id":"18793377.b06f5d","type":"function","z":"5d37015f.69ded","name":"","func":"msg.payload=msg.payload.houseno\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":527,"wires":[["c098d7d4.378708","122a20ef.128c0f"]]},{"id":"c098d7d4.378708","type":"switch","z":"5d37015f.69ded","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"102","vt":"str"},{"t":"eq","v":"202","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":667,"wires":[["122a20ef.128c0f","b2eb6222.60b0a"],["8dbe78c9.12dbb8"]]},{"id":"187aa4d6.a4f4bb","type":"ui_text","z":"5d37015f.69ded","group":"5695b401.2a4b5c","order":8,"width":0,"height":0,"name":"","label":"Your Bill is Rs. :","format":"{{msg.payload}}","layout":"row-left","x":810,"y":727,"wires":[]},{"id":"8dbe78c9.12dbb8","type":"cloudant in","z":"5d37015f.69ded","name":"","cloudant":"","database":"waterdb2","service":"node-red-owrts-2020--cloudant-1602144223001-50868","search":"_all_","design":"","index":"","x":400,"y":747,"wires":[["cf335f21.9c33c"]]},{"id":"d9bda902.9f10b8","type":"cloudant out","z":"5d37015f.69ded","name":"","cloudant":"","database":"waterdb2","service":"node-red-owrts-2020--cloudant-1602144223001-50868","payonly":true,"operation":"insert","x":660,"y":387,"wires":[]},{"id":"93570dfa.175df","type":"ibmiot","z":"","name":"new API","keepalive":"60","serverName":"lil0sr.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"356ddb73.746da4","type":"ui_group","z":"","name":"Water Level","tab":"c1a96829.2e5fa8","order":1,"disp":true,"width":"8","collapse":false},{"id":"5695b401.2a4b5c","type":"ui_group","z":"","name":"Water Bill Dashboard","tab":"f59e0340.d3c9d","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1a96829.2e5fa8","type":"ui_tab","z":"","name":"Water Monitoring System","icon":"dashboard","disabled":false,"hidden":false},{"id":"f59e0340.d3c9d","type":"ui_tab","z":"","name":"Billing System","icon":"dashboard","disabled":false,"hidden":false}]